@import '../styles/plugins';

.body {
  background-color: $tan;
  font-family: "Helvetica", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.header {
  background-color: $red;
  color: white;
  font-weight: 600;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.logo {
  color: white;
  font-size: 24px;
  display: inline-block;
}

.content {
  flex: 1 1 auto;
  background-color: white;
  overflow: scroll;
}

.linkSpacer {
  display: inline-block;
  &:before {
    content: '-';
    padding: 0 5px;
  }
}

.container {
  @include contentWrapper;
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;
  align-items: center;
}

.navigational {
  @include title;
  color: white;
  vertical-align: bottom;
  padding-top: 28px;
  text-align: right;
}
