@import '../styles/plugins';

.body {
  position: relative;
  border-bottom: 5px solid rgba($shadow, 0.3);
  background-color: $tan;
  padding: 10px;
}

.eventPane {
  background-color: $white;
  margin: 10px 0;
  padding: 10px;
}

.container {
  display: flex;
  padding: 10px;
  flex-direction: column;
}

.eventContainer {
  display: flex;
  flex-direction: row;
}

.eventPhoto {
  height: 150px;
  width: 150px;
  background-size: contain;
  margin-right: 20px;
  flex: 0 0 auto;
}

.eventInfo {
  flex: 1 1 auto;
}

.chevron {
  flex: 0 0 auto;
  background-color: #fdfbfb;
  color: gray;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -10px;
  padding: 10px 15px;
}

.eventHeader {
  font-weight: 600;
  letter-spacing: 2px;
}

.tagContainer {
  display: flex;
  margin-top: 10px;
}

.tag {
  padding: 7px;
  background-color: yellow;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 10px;
  font-size: 14px;
  border-radius: 5px;
  color: gray;
}

